<h1> <%= @restaurant.name %></h1>
<p><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<h1> Add a review </h1>

<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%=f.input :rating %>
  <%=f.input :content %>
  <%=f.submit%>
<% end %>

